.servicos-bg {
  background: var(--cor-0);
  padding: 0px 20px;
}

.servicos {
  padding: 120px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.servicos span {
  color: var(--cor-p1);
  margin-bottom: 20px;
}

.servicos h2 {
  color: var(--cor-p1);
  margin-bottom: 40px;
}

.info-servicos li {
  color: var(--cor-p1);
  position: relative;
  margin-left: 24px;
}

.info-servicos li + li {
  margin-top: 20px;
}

.info-servicos li::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../img/sustentavel.svg');
  position: absolute;
  left: -24px;
  top: -4px;
}

@media (max-width: 1200px) {
  .servicos {
    padding: 80px 0;
  }
}

@media (max-width: 800px) {
  .servicos {
    padding-top: 40px;
    padding-bottom: 40px;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .img-servicos {
    display: none;
  }
}
